.formulario{
    p{
        margin: 2rem 0 0;
        font-size: 1.4rem;
        color: $grisOscuro;
    }

    legend{
        font-size: 2rem;
        color: $grisOscuro;
    }

    label{
        display: block;
        font-weight: $bold;
        text-transform: uppercase;
    }

    input:not([type="submit"]), 
    textarea, 
    select{
        width: 100%;
        padding: 1rem;
        display: block;
        margin-bottom: 1rem;
        border-radius: 1rem;
        border: 1px solid $gris;
        background-color: $blanco;
    }
    
    textarea{
        resize: none;
        height: 20rem;
        max-height: 29rem;
    }

    .forma-contacto{
        display: flex;
        max-width: 30rem;
        align-items: center;
        justify-content: space-between;
    }

    input[type="radio"]{
        margin: 0;
        width: auto;
    }
}